body{
    /* background-color: rgb(255, 210, 121); */
}

#web-con{
    width: 30rem;
    height: 10rem;
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
    
    margin-left: 18rem;
}    

#down-bdg{
    background-color: rgb(237, 163, 24);
    margin-top: 7.5rem;
    height: 350px;
}
.card{
    background-color: rgb(214, 152, 7);
    position: fixed;
    width: 45rem;
    margin-left: 280px;
    margin-top: 20px;
    text-align: center;
    border: none;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity: 70%;
}
#weatherLocation{
    width: 230px;
    margin-left: 250px;
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    text-align: center;
}

#weatherLocation:hover{
    color: white;
    background-color: green;
}

#contents{
    display: inline-flex;
    margin-top: 150px;
}
#rope{
    width: 10px;
    height: 100px;
    background-color: rgb(227, 227, 227);
    margin-left: 530px;
}
#location{
    outline: none;
    padding: 5px 10px;
}
.div1{
    width: 255px;
    height: 100%;
    background-color: white;
    margin-left: 50px;
    text-align: center;  
    border-top-left-radius: 30px;
    
}

.div2{
    width: 255px;
    height: 100%;
    background-color: white; 
    margin-left: 80px;
    text-align: center;  
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
}

.div3{
    width: 255px;
    height: 100%;
    background-color: white; 
    margin-left: 80px;
    text-align: center;  
    border-top-right-radius: 30px;
}

.div4{
    width: 255px;
    height: 100%;
    background-color: white; 
    margin-left: 80px;
    text-align: center;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}